.noLinkDeco {
    text-decoration: none;
    color: black;
}

.logoFrame {
    display: flex;
    width: 100vw;
    height: 70vh;
    background: url(../img/temporary.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.logoProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoProfilePhoto {
    width: 192px;
    height: 192px;
    background-color: silver;
    border-radius: 50%;
    transform: translateY(-50px);
}

.adminWorkspace {
    position: relative;
    display: flex;
    justify-content: center;
    margin-block-start: 7em;
}
.adminWorkFrame {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
}

.adminPostContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.adminWorkCate {
    display: flex;
    font-size: xx-large;
}

.adminWorkCate div {
    display: flex;
    width: 4em;
    justify-content: center;
}

/* 관리자 사이트 사이드 바 */
.adminSideCate {
    position: absolute;
    width: 15vw;
    height: 800px;
    left: 3vw;
    top: 10em;
    font-family: sans-serif;
    line-height: 1.5em;
}

.adminPostContent div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 50px;
    height: 300px;
}

.postBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    cursor: pointer;
}

.postBlock:hover {
    background-color: silver;
}

.catePostTitle {
    width: 90%;
    overflow: hidden;
}

.makePostBlock {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    position: relative;
    padding-block: 5px;
}

.addCate {
    position: relative;
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url(../img/add.png);
    cursor: pointer;
}

.cateArrowBtn {
    position: relative;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/arrow.png);
}

.newCateTitle {
    width: 100%;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}